   .friend-div {
        margin-right: 30px;
        margin-top: 5px;
   }

      .friend-mini  {
        width:53px;
          margin-left: 10px;
   }

   .friend-separator {
        padding: 2px 25px 0px 15px !important;
   }

   .site-selection {
      margin-left: 20px !important;
   }

   .site-customise-separator{

    border-bottom: 1px solid #eee;
      padding-top: 16px;
      padding-bottom: 10px;

   }